<template>
	<div>
		<h1 class="title">
			{{ $route.params.slug ? 'Edit Article' : 'New Article' }}
		</h1>
		<div class="d-flex flex-column-reverse flex-sm-row justify-content-between">
			<div class="new-article__form">
				<form class="d-flex flex-column align-items-baseline" @submit.prevent="addNewArticle">
					<div class="custom-form-input__filed">
						<label class="custom-form-input__filed__title" :class="{'custom-form-input__filed__title-error': emptyTitle}">Title</label>
						<input v-model="title" type="text" class="custom-form-input form-control" :class="{'input-error': emptyTitle}" placeholder="Title">
						<span v-if="emptyTitle" class="input-error-text">Required field</span>
					</div>
					<div class="custom-form-input__filed">
						<label class="custom-form-input__filed__title" :class="{'custom-form-input__filed__title-error': emptyDescription}">Description</label>
						<input v-model="description" type="text" class="custom-form-input form-control" :class="{'input-error': emptyDescription}" placeholder="Description">
						<span v-if="emptyDescription" class="input-error-text">Required field</span>
					</div>
					<div class="custom-form-input__filed">
						<label class="custom-form-input__filed__title" :class="{'custom-form-input__filed__title-error': emptyBody}">Body</label>
						<textarea v-model="body" type="text" class="custom-form-input form-control" :class="{'input-error': emptyBody}" rows="5" />
						<span v-if="emptyBody" class="input-error-text">Required field</span>
					</div>
					<button type="submit" :disabled="loading" class="btn btn-primary px-4 py-1">
						<div v-if="loading" class="spinner">
							<div class="bounce1" />
							<div class="bounce2" />
							<div class="bounce3" />
						</div>
						<span v-else>
							submit
						</span>
					</button>
				</form>
			</div>
			<form class="tags" @submit.prevent="addNewTag">
				<span class="tags__header">Tags</span>
				<input v-model="newTag" type="text" class="custom-form-input form-control" placeholder="New Tag">
				<ul class="tags__list">
					<li v-for="(tag, i) in tags" :key="i" class="d-flex">
						<b-form-checkbox
							:checked="selectedTags.indexOf(tag) > -1"
							@change="addSelectedTag(tag)"
						/>
						<span>{{ tag }}</span>
					</li>
				</ul>
			</form>
		</div>
	</div>
</template>
<script lang="ts">
import Vue from 'vue';
import { getModule } from 'vuex-module-decorators';
import { mapState } from 'vuex';
import SingleArticle from '~/store/singleArticle/index';
export default Vue.extend({
	data() {
		return new (class {
            newTag: string = '';
			ArticleModule: any = {};
			emptyTitle: boolean = false;
			emptyDescription: boolean = false;
			emptyBody: boolean = false;
			loading: boolean = false;
		})();
	},
	computed: {
		...mapState('singleArticle', ['tags', 'selectedTags', 'articleTitle', 'articleTitle', 'articleBody', 'articleDescription']),
		title: {
			get(): string {
				return this.articleTitle;
			},
			set(val: string) {
				this.ArticleModule.setArticleTitle(val);
			}
		},
		body: {
			get(): string {
				return this.articleBody;
			},
			set(val: string) {
				this.ArticleModule.setArticleBody(val);
			}
		},
		description: {
			get(): string {
				return this.articleDescription;
			},
			set(val: string) {
				this.ArticleModule.setArticleDescription(val);
			}
		}
	},
	created() {
		this.ArticleModule = getModule(SingleArticle, this.$store);
		if (this.$route.params.slug) {
			this.ArticleModule.getArticleDetail(this.$route.params.slug);
		}
	},
	beforeMount() {
		this.ArticleModule.getTagsList();
	},
	methods: {
		addNewArticle() {
			this.loading = true;
			if (!this.articleTitle.length) {
				this.emptyTitle = true;
			} else if (!this.articleBody.length) {
				this.emptyBody = true;
			} else if (!this.articleDescription.length) {
				this.emptyDescription = true;
			} else if (this.$route.params.slug) {
				this.ArticleModule.updateArticle(this.$route.params.slug);
			} else {
				this.ArticleModule.addNewArticle();
			}
		},
		addNewTag() {
			if (!this.tags.includes(this.newTag)) {
				this.ArticleModule.addNewTag(this.newTag);
				this.ArticleModule.addSelectedTag(this.newTag);
			}
		},
		addSelectedTag(tag: string) {
			this.ArticleModule.addSelectedTag(tag);
		}
	}
});
</script>
<style lang="scss" scoped>
.new-article__form {
	flex-grow: 1;
}
.tags {
	max-width: 252px;
	width: 252px;
	margin-left: 30px
}
.tags__hedear {
	margin-bottom: 14px
}
.tags__list {
	border-radius: 4px;
	border: solid 1px #dddddd;
	background-color: #ffffff;
	margin-top: 14px;
	padding: 15px 187.5px 16px 17px;
}
.tags__list li:not(:last-child) {
	margin-bottom: 14px
}
.tags__list li {
	font-size: 16px;
	color: $charcoal-grey
}
.spinner > div {
	width: 12px;
	height: 12px;
	background-color: white;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}
::v-deep .custom-control-label::before {
	border-radius: 4px;
	background-color: #dddddd;
	border: none;
	width: 15px;
	height: 15px
}
@media only screen and (max-width: 768px) {
	.tags {
		width: 100%;
		margin-left: 0px;
		max-width: 100%;
	}
}
</style>
