<template>
	<div>
		<div class="d-flex justify-content-between align-items-baseline">
			<h1 class="title">
				All Posts
			</h1>
			<div v-if="showToast" class="success-toast">
				<span v-if="toastType !== 'deleted'">Well done!</span>
				<span>Article {{ toastType }} successfuly</span>
			</div>
		</div>
		<div class="d-flex flex-column articles-table">
			<client-only>
				<ag-grid-vue
					style="width: 100%; height: 600px"
					class="ag-theme-alpine"
					:column-defs="columnDefs"
					:grid-options="gridOptions"
					:row-data="rowData"
				/>
			</client-only>
			<b-pagination
				:total-rows="totalpageCount"
				:per-page="10"
				first-number
				last-number
				v-model="currentPage"
				@input="goToSelectedPage()"
			>
				<template v-slot:next-text>
					<b-icon-chevron-right />
				</template>
				<template v-slot:prev-text>
					<b-icon-chevron-left />
				</template>
			</b-pagination>
		</div>
		<b-modal id="modal-1" title="Delete Article">
			<p class="mb-4">Are you sure to delete Article?</p>
			<template #modal-footer>
				<b-button size="md" class="px-4" variant="outline-dark" @click="hideModal">
					No
				</b-button>
				<b-button size="md" class="px-4" variant="outline-danger" @click="deleteArticle()">
					Yes
				</b-button>
			</template>
		</b-modal>
	</div>
</template>
<script lang="ts">
import '@ag-grid-community/all-modules/dist/styles/ag-grid.css';
import '@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css';
import Vue from 'vue';
import { getModule } from 'vuex-module-decorators';
import { mapState } from 'vuex';
import { BIconChevronRight, BIconChevronLeft } from 'bootstrap-vue';
import CellActions from '~/components/articles/cellActions.vue';
import ArticlesModule from '~/store/articles/index';
export default Vue.extend({
	components: {
		BIconChevronRight,
		BIconChevronLeft
	},
	data() {
		return new (class {
            columnDefs: any = null;
            rowData: any = null;
            gridOptions: any = null;
            frameworkComponents: any = null;
			Articles: any = null;
			currentPage: number = 1;
			selectedArticle: any = {};
			toastType: string = '';
			showToast: boolean = false;
		})();
	},
	created() {
		this.Articles = getModule(ArticlesModule, this.$store);
		if (this.$route.params.title) {
			this.toastType = this.$route.params.title;
			this.showToast = true;
			setTimeout(() => { this.showToast = false; }, 5000);
		}
	},
	beforeMount() {
		if (parseInt(this.$route.params.pageNumber) > 1) {
			this.currentPage = parseInt(this.$route.params.pageNumber);
			this.Articles.getArticlesList(parseInt(this.$route.params.pageNumber));
		} else {
			this.currentPage = 1;
			this.Articles.getArticlesList(1);
		}
		this.columnDefs = [
			{
				field: '#',
				width: 60,
				valueGetter: (params: any) => { return ((this.currentPage - 1) * 10) + params.node.childIndex + 1; },
				cellClass: 'row-number'
			},
			{
				field: 'Title',
				width: 160,
				valueGetter: (params: any) => { return params.data.title; }
			},
			{
				field: 'Author',
				width: 200,
				valueGetter: (params: any) => { return params.data.author.username; }
			},
			{
				field: 'Tags',
				width: 200,
				valueGetter: (params: any) => { return params.data.tagList.join(','); }
			},
			{
				field: 'Excerpt',
				width: 310,
				valueGetter: (params: any) => { return params.data.body; }
			},
			{
				field: 'Created',
				flex: 1,
				cellRendererFramework: CellActions,
				cellRendererParams: {
					action: this.openDeleteModal.bind(this)
				},
				cellClass: 'actions'
			}
		];
		this.gridOptions = {
			enableBrowserTooltips: true,
			headerHeight: 40,
			rowHeight: 60
		};
	},
	methods: {
		goToSelectedPage() {
			if (this.currentPage > 1) {
				this.$router.push({ path: `/articles/page/${this.currentPage}` });
			} else {
				this.$router.push('/articles');
			}
		},
		openDeleteModal(article: string) {
			this.$bvModal.show('modal-1');
			this.selectedArticle = article;
		},
		async deleteArticle() {
			try {
				await this.Articles.removeArticle(this.selectedArticle.data.slug);
				this.$root.$emit('bv::toggle::modal', 'modal-1', '#btnToggle');
				this.toastType = 'deleted';
				this.showToast = true;
				setTimeout(() => { this.showToast = false; }, 5000);
				const selectedData = this.selectedArticle.data;
				this.gridOptions.api.updateRowData({ remove: [selectedData] });
			} catch (e) {
				alert(e);
			}
		},
		hideModal() {
			this.$root.$emit('bv::toggle::modal', 'modal-1', '#btnToggle');
		}
	},
	computed: {
		...mapState('articles', ['articles', 'totalPages']),
		articlesList(): any {
			return this.articles.articles;
		},
		totalpageCount(): number {
			return this.articles.articlesCount;
		}
	},
	watch: {
		articlesList(val) {
			this.rowData = val;
		}
	}
});
</script>
<style lang="scss">
.ag-theme-alpine .ag-root-wrapper {
    border: none
}
.ag-row {
	border-bottom: solid 1px #dddddd;
	padding: 20px;
	position: relative;
	transform: none !important;
}
.ag-theme-alpine .ag-header {
    border-bottom: 1px solid #dddddd !important;
    background-color: $silver;
	padding: 0px 17px
}
.ag-theme-alpine .ag-header-cell, .ag-theme-alpine .ag-header-group-cell {
    color: #55595c;
    font-size: 16px
}
.ag-cell-focus {
    border: none !important
}
.ag-theme-alpine .ag-ltr .ag-cell {
	height: unset;
}
.actions {
    overflow: unset !important;
	justify-content: flex-end;
}
.row-number {
	padding-left: 26px
}
.page-link {
	min-width: 40px;
	min-height: 40px;
	color: $charcoal-grey
}
.page-item.active .page-link {
	background-color: $water-blue;
	border-color: $water-blue
}
.pagination {
	justify-content: center;
	margin-top: 20px
}
.success-toast {
	padding: 12px 50px 12px 21px;
	border-radius: 3px;
	border: solid 1px #d5e6c7;
	background-color: #e2eed8;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #4b713d;
}
.success-toast span:first-child {
	font-weight: bold;
}
</style>
