.authentication {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative
}
.fail-authentication {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 10px 13px 10px 23px;
    border-radius: 3px;
    border: solid 1px #e7cecd;
    background-color: #efdfdf;
    color: #9f4f48;
    font-size: 16px;
}
.fail-authentication__close-btn {
    margin-left: 32px;
    font-size: 20px;
    color: $charcoal-grey;
    opacity: 0.2;
    line-height: 1.25;
    padding: 0px
}
.authentication-form {
    min-width: 450px;
    margin: 0 auto;
    padding: 37px 20px 19px;
    border-radius: 4px;
    background-color: $silver;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.authentication-form__title {
    font-family: HelveticaNeue;
    font-size: 47px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    color: $warm-grey;
    margin-bottom: 27px
}
.authentication-form__tip {
    color: $charcoal-grey;
    font-size: 16px;
    margin-top: 14px;
    text-align: left;
    align-self: baseline;
}
.authentication-form__tip span:first-child {
    font-family: HelveticaNeue;
    line-height: 1.13;
    margin-right: 11px;
}
.authentication-form__tip a {
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.19;
    text-align: left;
    color: $charcoal-grey
}
.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}
@media only screen and (max-width: 768px) {
    .authentication-form {
        min-width: 100%;
        width: 100%;
        height: 100vh;
        justify-content: center;
        padding: 0px 20px 70px
    }
}