.input-error {
    border-color: $brick !important;
}
.input-error-text {
    font-size: 16px;
    line-height: 1.13;
    color: $brick;
    margin-top: 10px
}
.custom-form-input {
    min-height: 40px;
    border-radius: 4px;
    border: solid 1px #dddddd;
    background-color: #ffffff !important;
}

.custom-form-input__filed {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 100%
}
.custom-form-input__filed__title {
    color: $charcoal-grey;
    line-height: 1.13;
    font-family: HelveticaNeue;
    font-size: 16px;
    margin-bottom: 9px
}
.custom-form-input__filed__title-error {
    color: $brick
}