<template>
	<div class="actions">
		<span class="created-time">{{ formatedDate }}</span>
		<button class="btn action-btn" @click="showActionsList = true">
			...
			<b-icon-caret-down-fill />
		</button>
		<div v-if="showActionsList" v-click-outside="closeActionsList" class="d-flex flex-column actions-box">
			<nuxt-link :to="'/articles/edit/' + params.data.slug">
				Edit
			</nuxt-link>
			<button @click="deleteArticle">
				Delete
			</button>
		</div>
	</div>
</template>

<script>
import Vue from 'vue';
import { BIconCaretDownFill } from 'bootstrap-vue';
import vClickOutside from 'v-click-outside';
const moment = require('moment');
export default Vue.extend({
	components: {
		BIconCaretDownFill
	},
	directives: {
		clickOutside: vClickOutside.directive
	},
	data() {
		return {
			showActionsList: false
		};
	},
	computed: {
		formatedDate() {
			return moment(this.params.data.createdAt).format('MMMM DD, YYYY');
		}
	},
	methods: {
		closeActionsList() {
			this.showActionsList = false;
		},
		deleteArticle() {
			this.params.action(this.params.node);
		}
	}
});
</script>
<style lang="scss" scoped>
	.actions {
		margin-top: -6px
	}
    .action-btn {
        background-color: $dark-sky-blue;
        color: white;
        width: 66px;
        height: 40px;
		margin-left: 30px
    }
    .actions-box {
        border-radius: 4px;
        border: solid 1px #dddddd;
        background-color: #ffffff;
        position: absolute;
        width: 175px;
        right: 0px;
		z-index: 2
    }
    .actions-box a, .actions-box button {
        color: $charcoal-grey;
        font-size: 16px;
        padding: 1px 15px;
		border: none;
		background: none;
		text-align: left;
		padding: 12px 15px
    }
	.actions-box a:hover {
		text-decoration: unset;
	}
    .actions-box a {
        border-bottom: solid 1px #dddddd;
    }
	.created-time {
		font-size: 16px;
		color: $charcoal-grey;
	}
</style>
