<template>
	<div>
		<Header @toggleSidebar="toggleSidebar"/>
		<div :class="{'mobile-hidden-sidebar': !showSideBar}">
			<sidebar @toggleSidebar="toggleSidebar"/>
		</div>
		<div class="nuxt-wrapper">
			<nuxt />
		</div>
	</div>
</template>
<script lang="ts">
import Vue from 'vue';
import Header from '~/components/layouts/header.vue';
import Sidebar from '~/components/layouts/sidebar.vue';
export default Vue.extend({
	data() {
		return new (class {
			showSideBar: boolean = false;
		})();
	},
	components: {
		Header,
		Sidebar
	},
	methods: {
		toggleSidebar() {
			this.showSideBar = !this.showSideBar;
		}
	}
});
</script>
<style lang="scss" scoped>
.nuxt-wrapper {
    margin-left: 250px;
    margin-top: 60px;
    padding: 24px 30px
}
::v-deep .title {
	font-size: 40px;
	margin-bottom: 27px
}
@media screen and (max-width: 768px){
	.mobile-hidden-sidebar {
		display: none
	}
	.nuxt-wrapper {
		margin-left: 0px;
		padding: 20px 10px
	}
}
</style>
