<template>
	<div class="authentication">
		<transition name="slide-fade">
			<div v-if="failaAthentication" class="fail-authentication">
				<span><b>Login Failed!</b>  User name and/or Password is invalid </span>
				<button class="btn fail-authentication__close-btn" @click="failaAthentication = false">
					x
				</button>
			</div>
		</transition>
		<form method="post" class="authentication-form" @submit.prevent="login">
			<h2 class="authentication-form__title">
				LOGIN
			</h2>
			<div class="custom-form-input__filed">
				<label class="custom-form-input__filed__title">Email</label>
				<input v-model="email" type="email" class="custom-form-input form-control">
			</div>
			<div class="custom-form-input__filed">
				<label class="custom-form-input__filed__title" :class="{'custom-form-input__filed__title-error': emptyPassword}">Password</label>
				<input v-model="password" type="password" :class="{'input-error': emptyPassword}" class="custom-form-input form-control">
				<span v-if="emptyPassword" class="input-error-text">Required field</span>
			</div>
			<button type="submit" class="btn btn-primary w-100">
				login
			</button>
			<div class="authentication-form__tip">
				<span>Don’t have account?</span>
				<nuxt-link to="/register">
					Register
				</nuxt-link>
			</div>
		</form>
	</div>
</template>

<script lang="ts">
import Vue from 'vue';
// import { getModule } from 'vuex-module-decorators';
// import User from '~/store/user';
export default Vue.extend({
	name: 'Login',
	layout: 'authentication',
	data() {
		return new (class {
            email: string = '';
            password: string = '';
            emptyPassword: boolean = false;
            failaAthentication: boolean = false;
		})();
	},
	methods: {
		async login() {
			try {
				await this.$auth.loginWith('local', {
					data: {
						user: {
							email: this.email,
							password: this.password
						}
					}
				});
				this.$router.push('/articles');
			} catch (e) {
				this.failaAthentication = true;
			}
		}
	}
});
</script>
<style lang="scss" scoped>
@import '~/assets/scss/authentication';
</style>
