<template>
	<div class="authentication">
		<transition name="slide-fade">
			<div v-if="error" class="fail-authentication">
				<span>{{ errorMessage }}</span>
				<button class="btn fail-authentication__close-btn" @click="error = false">
					x
				</button>
			</div>
		</transition>
		<form method="post" class="authentication-form" @submit.prevent="register">
			<h2 class="authentication-form__title">
				register
			</h2>
			<div class="custom-form-input__filed">
				<label class="custom-form-input__filed__title">User</label>
				<input v-model="username" type="text" class="custom-form-input form-control">
			</div>
			<div class="custom-form-input__filed">
				<label class="custom-form-input__filed__title">Email</label>
				<input v-model="email" type="email" class="custom-form-input form-control">
			</div>
			<div class="custom-form-input__filed">
				<label class="custom-form-input__filed__title" :class="{'custom-form-input__filed__title-error': emptyPassword}">Password</label>
				<input v-model="password" type="password" :class="{'input-error': emptyPassword}" class="custom-form-input form-control">
				<span v-if="emptyPassword" class="input-error-text">Required field</span>
			</div>
			<button type="submit" class="btn btn-primary w-100">
				register
			</button>
			<div class="authentication-form__tip">
				<span>Already Registered?</span>
				<nuxt-link to="/login">
					Login
				</nuxt-link>
			</div>
		</form>
	</div>
</template>
<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
	name: 'Register',
	layout: 'authentication',
	data() {
		return new (class {
            username: string = '';
            email: string = '';
            password: string = '';
            emptyPassword: boolean = false;
            errorMessage: string = '';
            error: boolean = false;
		})();
	},
	methods: {
		async register() {
			if (!this.password) {
				this.emptyPassword = true;
			} else {
				try {
					await this.$axios.post('/users', {
						user: {
							username: this.username,
							email: this.email,
							password: this.password
						}
					});
					await this.$auth.loginWith('local', {
						data: {
							user: {
								email: this.email,
								password: this.password
							}
						}
					});
					this.$router.push('/articles');
				} catch (e) {
					this.error = true;
					if (e.response.data && e.response.data.errors && Object.keys(e.response.data.errors)[0]) {
						this.errorMessage = Object.keys(e.response.data.errors)[0] + ' ' + Object.values(e.response.data.errors)[0];
					}
				}
			}
		}
	}
});
</script>
<style lang="scss" scoped>
@import '~/assets/scss/authentication';
</style>
