<template>
	<header>
		<span class="header__title">Arvan Challenge</span>
		<span class="header__welcome-msg">Welcome {{ $auth.user.username }}</span>
		<button class="header__logout-btn" @click="logout">
			Logout
		</button>
		<span class="d-none menu-btn" @click="toggleSidebar">
			<b-icon-justify class="h3 m-0" />
		</span>
	</header>
</template>
<script lang="ts">
import Vue from 'vue';
import { BIconJustify } from 'bootstrap-vue';
export default Vue.extend({
	components: {
		BIconJustify
	},
	methods: {
		toggleSidebar() {
			this.$emit('toggleSidebar');
		},
		logout() {
			this.$router.push('/login');
			this.$auth.logout();
		}
	}
});
</script>
<style lang="scss" scoped>
header {
    padding: 10px 20px;
    background-color: $charcoal-grey;
    color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.header__title {
    font-size: 22px;
    line-height: 1.23;
    text-align: left;
    color: #ffffff;
}
.header__welcome-msg {
    font-size: 16px;
    line-height: 1.13;
    color: #ffffff;
    margin-left: 20px
}
.header__logout-btn {
    margin-left: auto;
    margin-right: 9px;
    width: 86.7px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid $dark-sky-blue;
    line-height: 1.5;
    font-size: 16px;
    color: $dark-sky-blue;
    background: transparent;
}
@media only screen and (max-width: 768px) {
    .header__welcome-msg {
        display: none
    }
    .header__logout-btn {
        display: none;
    }
    header {
        text-align: center;
        justify-content: center;
    }
    .header__title {
        flex-grow: 1;
        text-align: center;
        padding-left: 24px;
    }
    .menu-btn {
        display: block !important;
    }
}
</style>
