<template>
	<div class="sidebar-wrapper">
		<div v-click-outside="toggleSidebar" class="sidebar">
			<ul class="d-none user-detail sidebar__list">
				<li>welcome {{ $auth.user.username }}</li>
				<li @click="logout">
					logout
				</li>
			</ul>
			<span class="sidebar__title"> Post</span>
			<ul class="sidebar__list">
				<li>
					<nuxt-link to="/articles">
						All Articles
					</nuxt-link>
				</li>
				<li>
					<nuxt-link to="/articles/create">
						New Article
					</nuxt-link>
				</li>
			</ul>
		</div>
	</div>
</template>
<script>
import vClickOutside from 'v-click-outside';
import Vue from 'vue';
export default Vue.extend({
	directives: {
		clickOutside: vClickOutside.directive
	},
	methods: {
		toggleSidebar() {
			this.$emit('toggleSidebar');
		},
		logout() {
			this.$router.push('/login');
			this.$auth.logout();
		}
	}
});
</script>
<style lang="scss" scoped>
    .sidebar-wrapper {
        left: 0px;
        position: fixed;
        top: 60px;
        width: 250px;
        height: 100%;
        z-index: 2;
        background-color: $water-blue;
        display: flex;
        flex-direction: column;
        padding: 13px 0px;
    }
    .sidebar__title {
        font-size: 22px;
        line-height: 1.23;
        color: #ffffff;
        padding: 20px
    }
    .sidebar__list {
        list-style-type: none;
        padding-left: 0;
    }
    .sidebar__list li {
        margin-top: 16px;
        color: white;
        padding: 11px 34px;
        cursor: pointer
    }
    .sidebar__list li:hover {
        background-color: rgba(255, 255, 255, 0.15);
    }
    .sidebar__list li a {
        color: inherit
    }
    .sidebar__list li a:hover {
        color: unset;
        text-decoration: none;
    }
    @media only screen and (max-width: 768px) {
        .sidebar-wrapper {
            top: 0px;
            width: 100%;
            background-color: rgb(58 65 72 / 52%);
            padding: 0px
        }
        .sidebar {
            background-color: $water-blue;
            width: 65%;
            height: 100%
        }
        .user-detail {
            display: block !important;
            border-bottom: 2px solid white;
            padding-bottom: 18px
        }
        .sidebar__title {
            display: none
        }
        .sidebar__list {
            margin-bottom: 0px
        }
        .sidebar__list li {
            padding: 5px 20px
        }
    }
</style>
